

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.my_form legend{
   color: #ee3933;
}

.text-muted{
   font-weight: normal;
   font-style: italic;
}
















